<div class="wishes">
    {{#each Wish}}
    <article class="wish">
        <h2>
            <a href="/post/{{Wish.id}}">{{Wish.title}}</a>
        </h2>
        <div>
            Posted by {{User.username}}
        </div>
        <div class="wish-body">
            {{body}}
        </div>
    </article>
    {{/each}}
</div>