<div class="dashboard-wishlists">
    {{#each wishlist}}
    <div class="user-wishlist">
        <p class="wishlist-title">{{Wishlist.title}}</p>
        <p class="wishlist-date">{{Wishlist.createdAt}}</p>
    </div>
    {{/each}}
</div>