<div class="dashboard-wishlists">
    <h1>Wishlists</h1>
    {{#each wishlists}}
    <div class="user-wishlist">
        <p class="wishlist-title"><a href="/wishlists/{{id}}">{{title}}</a></p>
        <p class="wishlist-info"><a>{{username}}</a> on {{createdAt}}</p>
    </div>
    {{/each}}
</div>